

.auth-title {
    color:red !important;
}

.verify-title {
    color:red!important;
    font-size: 28px;
}

.errorMessage-auth {
    position: relative;
    box-sizing: border-box;
    color: red;
    font-size: 20px;
    font-weight: 500;
    top: 2.3em;
}

.successMessage-auth {
    position: relative;
    box-sizing: border-box;
    color: #ff4183;
    font-size: 20px;
    font-weight: 500;
    top: 2.3em;
}
.manualFormOpenBtn
{
    color:red;
}